.app-card {
  img {
    border-radius: 16px 0 16px 0;
  }
  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
  }

  .card-text {
    margin: 0;
  }

  .checkbox-item {
    position: absolute !important;
    bottom: 8px !important;
    right: 8px !important;
  }


}

mat-icon{
  cursor: pointer;
  font-size: 30px;
}

::ng-deep #to-shine-page-navigation {
  display: none !important;
}

::ng-deep #to-shine-page-footer{
display: none !important;
}
