@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


$darkblue: #022f5a;

// app-view-tiles
.app-view-tiles {
  .app-view-item {
    cursor: pointer;

    h5 {
      max-width: 100%;
    }

    a {
      &:hover {
        h5 {
          max-width: calc(100% - 20px);
        }
      }
    }
  }

  .card-grid {
    &:hover {
      transition: all 225ms ease-in-out;
      box-shadow: 2px 9px 18px 6px rgba(153, 153, 153, 0.45);
    }
  }

  .card-text {
    margin: 0;
  }

  .checkbox-item {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  .version-link {
    z-index: 2;
    position: relative;
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

// app-view-list
.app-view-list {
  border-bottom: 1px solid rgba(177, 177, 177, 0.45);
  cursor: pointer;

  img {
    min-width: 50px;
  }

  &:hover {
    transition: all 225ms ease-in-out;
    background-color: lightgray;
  }

  a {
    &:hover {
      h5 {
        max-width: calc(100% - 20px);
      }
    }
  }

  .app-view-list-item {
    width: calc(100% - 80px);
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.btn-darkblue {
  background-color: $darkblue;
  color: white;
  width: 200px;
  transition: all 225ms ease-in-out;
  &:hover {
    background-color: lighten($darkblue, 5);
    color: white;
  }
}

.btn-select-toggle {
  width: 120px;
}

// general  classes
.check-size {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
}

a {
  color: $darkblue;
  text-decoration: none;
}

h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

img {
  border-radius: 16px 0 16px 0;
}

.form-control {
  max-width: 100%;
}

input {
  accent-color: $darkblue;
}

.title-hover {
  &:hover {
    .arrow-icon {
      display: inline-block;
      color: $darkblue;
    }
  }
}

.arrow-icon {
  display: none;
  transition: all 225ms ease-in-out;
}

.version-hover {
  &:hover {
    .zip-icon {
      display: inline-block;
      color: $darkblue;
    }
  }
}

.zip-icon {
  width: 40px !important;
  position: absolute;
  top: -3px;
  padding-left: 10px;
  display: none;
  transition: all 225ms ease-in-out;
}

.view-toggle {
  .mat-icon {
    cursor: pointer;
  }
}

@include media-breakpoint-down(lg) {
  .btn-darkblue {
    width: 100%;
  }
  .btn-select-toggle {
    width: calc(50% - (1rem / 2));
  }
}

// to hide the header and footer
::ng-deep #to-shine-page-navigation {
  display: none !important;
}

::ng-deep #to-shine-page-footer {
  display: none !important;
}
