<div *ngIf="!hasUrlParams" class="alert alert-danger" role="alert">
  ERROR: Check URL parameters
</div>

<div *ngIf="hasUrlParams" class="container-fluid">

  <div class="row mb-2">
    <div class="col-12 mt-3">
      <!-- Header -->
      <h2>Let's auto-install some popular apps (live)</h2>
      <p class="mb-3">Don't worry: if you don't like one, you can remove it later without side-effects :) Our best pick
        for you is: Auto install apps for 2sxc 12.05</p>
    </div>
  </div>

  <!-- Buttons-->
  <div class="d-flex flex-column flex-lg-row mb-3 w-100 ">
    <div class="mb-2">
      <!-- Download Button -->
      <button [disabled]="(selectedApps | async).length == 0" type="button" class="btn btn-primary text-nowrap w-100"
        (click)="installApps()">
        <span>Install selected {{(selectedApps | async).length}} apps</span>
      </button>
    </div>
    <!-- Selected Buttons -->
    <div class="ms-0 ms-lg-3 mb-2">
      <button type="button" class="btn btn-secondary btn-view-toggle " (click)="toggleSelection(false)">Unselect All</button>
      <button type="button" class="btn btn-secondary btn-view-toggle ms-3" (click)="toggleSelection(true)">Select All</button>

    </div>
    <!-- Search  -->
    <div class="ms-0 ms-lg-3 mb-2">
      <input class="form-control" [(ngModel)]="searchText" type="search" placeholder="Search...">
    </div>
    <!-- View Button -->
    <div class="ms-auto">
      <mat-icon (click)="toggleView('tiles')" class="me-3">grid_on</mat-icon>
      <mat-icon (click)="toggleView('list')" class="me-3">list</mat-icon>
    </div>
  </div>

  <p>In case you're wondering, we'll install the following apps:</p>

  <div *ngIf="(apps$ | async)?.length == 0" class="alert alert-danger" role="alert">
    ERROR:
    There is no app for this version
  </div>

  <!-- Alle Apps -->
  <ng-container *ngIf="apps$ | async as apps">
    <!-- Tiles view -->
    <div *ngIf="isTilesView" class="row mb-2">
      <div *ngFor="let app of apps | Search: searchText"
        class="col-12 col-sm-3 col-xxl-2 mb-3 app-view-tiles">
        <div class="h-100 card-grid card bg-light">
          <div class="row g-0 position-relative">
            <div class="col-md-4 d-flex align-items-center">
              <img src="https://2sxc.org/{{app.icon}}?w=800" class="img-fluid rounded-start align-items-center"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body px-xxl-3 py-3 py-md-0 h-100 d-flex flex-column justify-content-center">
                <h5 class="fs-6 card-title mb-1"><a target="_blank"
                    href="https://2sxc.org/apps/app/{{app.urlKey}}">{{app.displayName}}</a></h5>
                <div class="card-text">
                  <small><a class="version-link" href="{{app.gitHub}}" target="_blank">({{app.version}})</a></small>
                  <!-- <p class= "d-none': isTilesView, 'd-flex': !isTilesView, 'mt-4': true}">{{app.shortDescription}}
                      </p> -->
                  <input class="checkbox-item" type="checkbox" (click)="changeValue(app, app.urlKey)"
                    [(ngModel)]="app.isSelected" [(value)]="app.urlKey">
                </div>
                <a href="https://2sxc.org/apps/app/{{app.urlKey}}" target="_blank" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List view -->
    <div *ngIf="!isTilesView">
      <div *ngFor="let app of apps | Search: searchText" class="d-flex align-items-center p-2 app-view-list w-100 ">

        <div class="d-flex align-items-center ">
          <img src="https://2sxc.org/{{app.icon}}?w=50" class="img-fluid rounded-start align-items-center" alt="...">
        </div>
        <div class="ms-3 ">
          <h5 class="fs-6 mb-0 card-title"><a target="_blank"
              href="https://2sxc.org/apps/app/{{app.urlKey}}">{{app.displayName}}</a></h5>
          <small><a class="version-link" href="{{app.gitHub}}" target="_blank">(package
              {{app.version}})</a></small>
        </div>
        <div class="ms-auto">
          <input class="check-size" type="checkbox" (click)="changeValue(app, app.urlKey)" [(ngModel)]="app.isSelected"
          [(value)]="app.urlKey">
        </div>

      </div>

    </div>
  </ng-container>

  <div class="row">
    <p>This dialog will disappear when you've added or created your first app. It will appear again on every new portal,
      as the apps are per portal. If you want to add more apps later on, just get them from the <a
        href="https://2sxc.org/apps" target="_blank">app
        catalog</a></p>
  </div>
</div>
