.app-card {
  img {
    border-radius: 16px 0 16px 0;
  }

  .card{
    &:hover{
      transition: all 225ms ease-in-out;
      // box-shadow: 10px 10px 15px silver;
      box-shadow: 2px 9px 18px 6px rgba(153, 153, 153, 0.45);
    }
  }

  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
  }
  .card-text {
    margin: 0;
  }
  .checkbox-item {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}

.posiiton-static{
  position: static !important;
}

mat-icon{
  cursor: pointer;
  font-size: 30px;
}


// zum den Header und footer ausblenden
::ng-deep #to-shine-page-navigation {
  display: none !important;
}
::ng-deep #to-shine-page-footer{
display: none !important;
}
