<div class="container">
  <div class="row mb-2">
    <div class="col-12 mt-3">
      <!-- Header -->
      <h2>Let's auto-install some popular apps (live)</h2>
      <p class="mb-3">Don't worry: if you don't like one, you can remove it later without side-effects :)
        Our best pick for you is: Auto install apps for 2sxc 12.05</p>
      <button type="button" class="btn btn-primary mb-3" (click)="installApps()">Install recommended 23 apps</button>
      <p>In case you're wondering, we'll install the following apps:</p>
    </div>
  </div>

  <div>


  </div>

  <div class="row mb-2">
    <!-- Alle Apps -->
    <div *ngFor="let app of apps$ | async" class="col-md-4 col-lg-3 app-card mb-3">
      <!-- Source -->
      <div class="card h-100 bg-light ">
        <div class="row h-100 g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="https://2sxc.org/{{app.icon}}?w=100" class="img-fluid rounded-start align-items-center" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body p-1 py-2 h-100">
              <h5 class="card-title mb-1"><a href="{{app.downloadUrl}}">{{app.displayName}}</a></h5>
              <p class="card-text"><a href="{{app.gitHub}}" target="_blank">(package {{app.version}})</a></p>
              <!-- description -->
              <!-- <p class="card-text"><small class="text-muted">{{app.shortDescription}}</small></p> -->
              <input class="checkbox-item" type="checkbox" (click)="changeValue(app, app.urlKey)" [(ngModel)]="app.isSelected">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <button type="button" class="btn btn-secondary" (click)="selectAll(false)">Unselect All</button>
      |
      <button type="button" class="btn btn-secondary" (click)="selectAll(true)">Select All</button>
    </div>

    <p>This dialog will disappear when you've added or created your first app. It will appear again on every new portal,
      as the apps are per portal. If you want to add more apps later on, just get them from the <a href="https://2sxc.org/apps" target="_blank">app
        catalog</a></p>
  </div>
</div>
